.bg-container {
  width: 100%;
  max-width: 1200px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31vh;
  margin-bottom: 0px;
  margin-left: 140px;
}

.image {
  height: 300px;
  width: 100%;
}
.carousel-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.slider-offer {
  width: 100%;
}
